<div>
  <h2>ngx-autosize-input demo</h2>
</div>

<label> Enter and remove text in the input box below: </label>
<br />
<input cdkInputAutosize [(ngModel)]="name" type="text" />
<br />
<br />

<label> Enter in input box with custom letter spacing: </label>
<br />
<input
  class="input-with-letter-spacing"
  cdkInputAutosize
  [(ngModel)]="letterSpacing"
  type="text"
/>
<br />
<br />

<label> Enter and remove text in the input with a placeholder below </label>
<br />
<input
  cdkInputAutosize
  placeholder="Input size should never be smaller then this string"
  [(ngModel)]="withPlaceholder"
  type="text"
/>
<br/>
<br/>
<label>
  Input below should fit to placeholder only when it's visible, otherwise fit to
  text entered by user
</label>
<br/>
<input
  cdkInputAutosize
  placeholder="Should fit to whatever text is displayed"
  [cdkInputAutosizeUsePlaceHolderOnlyWhenEmpty]="true"
  [(ngModel)]="placeHolderWhenEmpty"
  type="text"
/>
<br/>
<br/>
<fieldset [formGroup]="form">
  <label>
    Input below should fit to placeholder only when it's visible, otherwise fit
    to text entered by user
  </label>
  <br/>
  <input
    cdkInputAutosize
    placeholder="This input is using a form control name"
    formControlName="inputWithControlName"
    type="text"
  />
</fieldset>
